{% extends 'layout.html.twig' %}

{% block title %}  Application {% endblock %}

{% block main %}

<div class="m-4 border w-full p-5 rounded-lg">
  <div class="w-2/3 ">
    <div class="text-gray-900 font-bold text-2xl mb-4">
      Commencer la creation de l' application TP1 :
    </div>
    <p  class="mb-2">
      1 - générer un controller pour l'application ( AppController )
      <div class="bg-gray-800 text-white rounded p-2 my-2">
        php bin/console make:controller App
      </div>
      on va utiliser le routing avec l'annotation ( @Route dans le controller [ component installer avec la squelette ])
      avec un simple logic </br>
      <span class="text-green-500 text-sm" >la route -> la method de controller -> la vue </span> </br>
      <img class="my-2" src="{{ asset('img/2020-03-09_06h47_57.png') }}" />
      2 - générer les views [ voir controller ]  avec le template engine Twing :
      <img class="my-2" src="{{ asset('img/2020-03-09_06h54_09.png') }}" />
      ex pour cette page :
      <span class="text-green-500 text-sm" > demo.twig - extends -> layout.twig - extends -> base.twig </span> </br>
      <img class="my-2" src="{{ asset('img/2020-03-09_06h55_26.png') }}" />
      3 - lancer le server
      <div class="bg-gray-800 text-white rounded p-2 my-2">
        symfony serve
      </div>
      resultat ( index : / ) :
      <img class="my-2" src="{{ asset('img/2020-03-09_06h58_32.png') }}" />
  </div>

</div>

{% endblock %}
