{% extends 'layout.html.twig' %}

{% block title %}
  L'installation
{% endblock %}

{% block main %}

  <div class="m-4 border w-full p-5 rounded-lg">
    <div class="w-2/3 ">
      <div class="text-gray-900 font-bold text-2xl mb-4">
        L'installation de Symfony 4
      </div>
      <div class="text-gray-700 text-base text-lg mb-2">
        l'exigence :
      </div>
      <ul class="text-red-600 text-base p-2 ">
        <li>
          PHP 7.2.5 +
        </li>
        <li>
          PHP extensions
        </li>
        <li>
          Composer ( manger du packages de PHP )</li>
        <li>
          Symfony CLI ( optionnel )
        </li>
        <li>
          Base de donnees ( optionnel pour ce TP )
        </li>
      </ul>
      <p class="text-gray-700 text-base">
        Ubuntu :
        <br>
        <div class="p-2 text-blue-600">
          MariaDB et PHP par defaut sont installé <br/>
          Sinon <br/>
          <div class="bg-gray-800 text-white rounded p-2 my-2">
            sudo apt install php libapache2-mod-php php-mbstring php-xmlrpc php-soap php-gd php-xml php-cli php-zip php-mysql php-curl
          </div>
          Composer :  <br/>
          <div class="bg-gray-800 text-white rounded p-2 my-2">
            cd ~ <br>
            curl -sS https://getcomposer.org/installer -o composer-setup.php <br>
            sudo php composer-setup.php --install-dir=/usr/local/bin --filename=composer <br>
          </div>
          Symfony :  <br/>
          <div class="bg-gray-800 text-white rounded p-2 my-2">
            wget https://get.symfony.com/cli/installer -O - | bash
          </div>
        </div>
      </p>
      <p class="text-gray-700 text-base">
        Windows :
        <br>
        <div class="p-2 text-blue-600">
          <a href="https://www.apachefriends.org/index.html" />   Xampp ( PHP + PHP extensions + Mysql )  </a> <br/>
          <a href="https://getcomposer.org/" />   Composer  </a> <br/>
          <a href="https://symfony.com/download" />   Symfony  </a> <br/>
        </div>
      </p>
      <p class="text-gray-700 text-base">
        pour installer un project symfony 4 , on va utiliser le composer parceque le CLI install la dernier version (5.0.5) , donc on metter la version aprais la squelette de site ( squelette par defaut d'un project symfony : )</p>
      <div class="bg-gray-800 text-white rounded p-2 my-2">
        composer create-project symfony/website-skeleton:4.* Demo
      </div>
      <p class="text-gray-700 text-base">
        dans ce project <span class="font-bold"> Demo </span> il y a :
      </p>
      <div class="bg-gray-800 text-white rounded p-2 my-2">
        Demo/
        <br>
        ├─ assets/<br>
        ├─ bin/<br>
        │ └─ console<br>
        ├─ config/<br>
        │ ├─ packages/<br>
        │ └─ services.yaml<br>
        └─ public/<br>
        │ ├─ build/<br>
        │ └─ index.php<br>
        ├─ src/<br>
        │ ├─ Kernel.php<br>
        │ ├─ Command/<br>
        │ ├─ Controller/<br>
        │ ├─ DataFixtures/<br>
        │ ├─ Entity/<br>
        │ ├─ EventSubscriber/<br>
        │ ├─ Form/<br>
        │ ├─ Migrations/<br>
        │ ├─ Repository/<br>
        │ ├─ Security/<br>
        │ └─ Twig/<br>
        ├─ templates/<br>
        ├─ tests/<br>
        ├─ translations/<br>
        ├─ var/<br>
        │ ├─ cache/<br>
        │ └─ log/<br>
        └─ vendor/<br>
      </div>
    </div>

  </div>

{% endblock %}
